@import "../styles/color";

.recipes_top {
  margin-top: 1.25rem;
  display: grid;
  
  flex-flow: row wrap;
  flex: 0 1 auto;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.25rem;
    font-size: 1.125rem;
    justify-content: flex-start;
  }
}

.filters {
  padding: 1.875rem 1.25rem;
  margin-bottom: 1.25rem;
  background-color: $primary;

  @media (min-width: 48rem) {
    width: auto;
    grid-column: 1/2;

    margin-bottom: 3.125rem;
  }
}

.recipes {
  list-style-type: none;

  display: grid;
  gap: 1rem;
  //grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(1, minmax(0,1fr));

  width: 100%;



  align-content: flex-start;

  padding-left: 0;

  @media (min-width: 48rem) {
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, minmax(0,1fr));
    width: auto;
    grid-column: 2/5;
    grid-column-gap: 1.25rem;

  //  justify-content: flex-start;

    
    // margin-right: 0;

    // > :nth-child(1n) {
    //   margin-right: 0;
    // }
  }
}

//Figrue out this
// @media (min-width: 48rem)
// .results_main .grid--3-col>:nth-child(1n) {
//     margin-right: 0;
// }
.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.recipe {
  width: inherit;
  text-decoration: none;

  .textArea{
    padding: 0.25rem;
  }

  margin-bottom: 3.125rem;

  @media (min-width: 48rem) {
    width: inherit;
    margin-bottom: 4.6875rem;
  }

  figure {
    position: relative;
    margin: auto;
    height: 0;
    padding-top: 67.7%;
    overflow: hidden;
    margin-bottom: 1.25rem;
  }


  a {
    display: block;
    padding: 1rem;
    transition: all 0.3s ease;
  }

  p {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
  }


}

.header {
  margin-bottom: 0;
  font-size: 2rem;
}

.insetarea {
  margin: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
}

.item {
  background: #f4f4f4;
  color: #000000;


}

.item:hover {
  background: #e4e4e4;
}
