.footer {
  margin-top: 3rem;

  @media (min-width: 48rem) {
    // padding-top: 5.125rem;
    width: calc(100% - 4rem);
  }
  width: calc(100% - 1.876rem);
  margin-left: auto;
  margin-right: auto;
}
