@import "../styles/color";

.header {
  padding-bottom: 0rem 0 3rem;
  width: 100%;
  
  
}

.header-background {
  padding-top: 2rem;
  background-color: #f0ecf6;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23007c91' fill-opacity='0.3'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
//http://www.heropatterns.com/
}

.header-wrap {
  
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 1.876rem);


  @media (min-width: 48rem) {
    width: calc(100% - 4rem);
  }

  @media (min-width: 64rem) {
    padding: 0.625rem 1.25rem;
  }

  display: flex;

}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-item {
  color: #ffffff;
  font-size: 1.125rem;
  // margin-right: 1.3rem;
  text-decoration: none;
  margin: 15px auto;
  text-align: center;


}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; 
  color: rgba(255,255,255,0.8);
  font-size: 24px;
}

.nav-item:hover {
  color: $secondary;
}

.active-nav-item {
  color: $secondary;
}

nav {
  background-color: $primary;
  
}

.subnav {
  padding: .313rem 1.25rem;
  @media (min-width: 48rem) {
    width: calc(100%-4rem);
  }
}

.subnav > * {
  width: calc(100% - 1.876rem);
  margin-left: auto;
  margin-right: auto;
}

.nav-list {
  // padding: 1.25rem 1.25rem;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
 

  @media (min-width: 64rem) {
    padding-left: 6.875rem;
    margin: 0 auto;
  }

  > li{
    @media (min-width: 64rem) {
      padding: 0.6875rem 1rem;
    }
  } 
}


.topnav {
  overflow: hidden;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  
  > li {
    float: left;
    display: block;
    text-align: center;
    padding: .313rem 1.25rem;
    text-decoration: none;
  }

  .icon {
    display:none;
  }
}

//!Change rem
@media screen and (max-width: 48rem) {
  .topnav li:not(:first-child) {display: none;}
  .topnav li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 48rem) {
  .topnav.responsive {position: relative;}
  .topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}