.container {
    margin: 0 auto;
    // max-width: 750px;
    padding: 1rem 0rem;
    
    
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    @media (min-width: 64rem){
        // padding-top: 5.125rem;
    }

 
}

.content {
    flex-grow: 1;

}

.page-content {
    width: calc(100% - 1.876rem);
    margin-left: auto;
    margin-right: auto;


    @media (min-width: 48rem){
        // padding-top: 5.125rem;
        width: calc(100% - 4rem);
    }

    @media (min-width: 85rem){
        // padding-top: 5.125rem;
        max-width: 85rem;
    }
}