@import "../styles/color";

.pageContentHeader {
  margin-bottom: 0;
}

.intro {
  width: calc(100% - 1.876rem);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 60rem) {
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    column-gap: 0.625rem;

    // display: flex;
    // justify-content: space-between;
    // flex-flow: row wrap;
    // flex: 0 1 auto;
  }

  @media (min-width: 48rem) {
    column-gap: 1.25rem;
    justify-content: flex-start;
    width: calc(100% - 4rem);
  }
}

.intro-content {
  width: 100%;
  order: 2;
  text-align: center;

  @media (min-width: 60rem) {
    width: auto;
    grid-column: 2/7;
    padding: 0 2.5rem 0 0;
    order: 1;
    text-align: left;
  }

  @media (min-width: 30rem) {
    padding-left: 0rem 3rem;
  }
}

.description {
  font-weight: 300;
  margin-bottom: 1.25rem;

  width: 100%;
  order: 2;
  text-align: center;

  @media (min-width: 60rem) {
    width: 50%;
    padding: 0 2.5rem 0 0;
    order: 1;
    text-align: left;
  }
}

.stats {
  border-bottom: 1px solid $primary-dark;
  padding-top: 0.625rem;

  display: flex;
  padding-bottom: 1.5626rem;
  margin-bottom: 1.25rem;

  flex-flow: wrap;

  @media (min-width: 48rem) {
    flex-flow: nowrap;
  }
}

.intro-media {
  width: calc(100% +1.876rem);
  background-color: $secondary;
  order: 1;
  margin: 0 -0.938rem;

  @media (min-width: 60rem) {
    width: auto;
    grid-column: 7/13;
    flex: 1;
    order: 2;
    margin: 0;
    padding-top: 3.125rem;
  }
}

.detail-content {
  width: calc(100% - 1.876rem);
  margin-left: auto;
  margin-right: auto;
  background: $primary-light;

  
  @media (min-width: 85rem) {
    max-width: 85rem;
  }

  @media (min-width: 48rem) {
    width: calc(100% - 4rem);
    padding-top: 3.125rem;
  }
}

.recipe-detail {
  //display: flex;


  @media (min-width: 48rem) {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 1.25rem;
  }

  
}


.recipe-ingredients{
  margin-bottom: 1.875rem;
  padding: 2.5rem 0;
  
  
  p {
    font-weight: 500;
    margin-bottom: 0;
  }

  @media (min-width: 64rem) {
    grid-column: 2/5;
  }
  @media (min-width: 48rem) {
    margin-bottom: 3.75rem;
    padding: 4.375rem .625rem 4.375rem 0;
    width: auto;
    grid-column: 1/5;
  }
}

.recipe-instructions{
  @media (min-width: 64rem) {
    grid-column: 5/12;
    padding: 4.375rem 7.188rem;
  }

    @media (min-width: 48rem){
      width: auto;
      -ms-grid-column: 5;
      -ms-grid-column-span: 8;
      grid-column: 5/13;
    }

}


.recipe-ingredients-list-bullets {
  margin-top: 0;
  padding-left: 1.875rem;

  @media (min-width: 48rem) {
    font-size: 1.125rem;
  }

  list-style: none;

  li {
    font-size: 0.88rem;
    display: list-item;
    position: relative;
    margin-bottom: 1.25rem;
  }

  li:before {
    content: "-";
    position: absolute;
    margin-left: -1.875rem;
  }
}



//Instructions

.recipe-instructions-list-bullets {
  padding-left: 1.75rem;
  margin-left: .313rem;
  counter-reset: numList;

  list-style: none;

  display: block;

  li{
    position: relative;
    margin-bottom: 1.125rem;
  }

  li:before {
    top: .188rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: -2.25rem;
    font: 400 .875rem/1;

    border: .063rem solid #000;
    border-radius: 50%;

    counter-increment: numList;
    content: counter(numList)
  }
}
